.annotation {
  text-align: center;
  margin: auto;
  width: 45%;

  &__stats {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__progress {
      width: 70%;
    }
  }
}
